html, body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  overflow: hidden;
}

iframe {
  height: 100%;
  width: 100%;
  transition: .3s;
}

.controls-container {
  padding-top: 20px;
  transition: .3s;
}

.opac {
  opacity: 0.5;
}

.opac:hover {
  opacity: 1;
  transition: .3s;
}

.button-container {
  border-radius: 10px;
  overflow: hidden;
  background: #f5f5f5 !important;
}

.btn {
  border-radius: 0px;
}

#channel-name {
  display: inline-block;
  width: auto;
  padding: 0 22px;
}

.zoomed {
  transform: scale(1.33);
  transition: .3s;
}

.barrier {
  color: white;
  cursor: pointer;
  z-index: 39;
  transition: 2s;
}

.c-round {
  border-radius: 10px;
}